.productCard {
    flex: 1 1 calc(50% - 12px);
    min-width: 240px;
    height: 300px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background-color: #efece8;
    box-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.15);
}

.productImage {
    width: 380px;
    /*aspect-ratio: 0.9;*/
    /*object-fit: contain;*/
    border-radius: 8px 0 0 8px;
}

.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    position: relative;
}

.productTitle {
    color: #180200;
    font: 600 26px/1 Fixel, sans-serif;
    margin: 0 0 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 22px;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    background: none;
    color: rgba(0, 0, 0, 0.87);
    font: 500 15px/26px Noto Sans, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: 0.46px;
    cursor: pointer;
}

.buttonIcon {
    width: 18px;
    height: 22px;
}


@media (max-width: 991px) {
    .productCard {
        flex-basis: 100%;
    }


    .productInfo {
        padding: 20px;
    }
}
@media(max-width: 666px) {
    .productCard {
        flex-direction: column;
    }
    .productImage {
        width: 100%;
    }
}