.banner {
    background-color: #f8f9fb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

.mainContent {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-bottom: 61px;
}

@media (max-width: 991px) {
    .mainContent {
        max-width: 100%;
    }
}

.backgroundImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 85% center;
}

.heroSection {
    position: absolute;
    top: 30%;
    left: 0;
    display: flex;
    width: auto;
    max-width: 100%;
    height: 300px;
    flex-direction: column;
    font-family: Fixel, sans-serif;
}

@media (max-width: 587px) {
    .heroSection {
        margin-top: 40px;
        top: 8%;
        left: 0;
    }
}

.heroContent {
    height: 200px;
}

@media (max-width: 991px) {
    .heroContent {
        max-width: 70%;
        min-width: 587px;
        height: 400px;
    }

}

@media (max-width: 587px) {
    .heroContent {
        max-width: 100%;
        height: 152px;
    }
}

.heroText {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    width: 83%;
    min-height: 261px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 20px 0 160px;
}
@media (max-width: 991px) {
    .heroText {
        padding-left: 20px;
    }

}
@media (max-width: 587px) {
    .heroText {
        max-width: 100%;
        padding-left: 20px;
    }
}

.heroTextContent {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
}

@media (max-width: 587px) {
    .heroTextContent {
        max-width: 100%;
    }
}

.foundationYear {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
}

@media (max-width: 587px) {
    .foundationYear {
        font-size: 28px;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        border-bottom: 2px solid #fff;
    }
}

.yearNumber {
    transform: rotate(-1.6081230200044232 E16Rad);
    font-size: 130px;
    font-weight: 600;
    letter-spacing: 3.9px;
    -webkit-text-stroke: 5px #fff;
    color: transparent;
    padding: 0;
    margin: 0;
}

@media (max-width: 587px) {
    .yearNumber {
        font-size: 70px;
        -webkit-text-stroke: 2px #fff;
    }
}

.yearLabel {
    transform: rotate(-1.6081230200044232 E16Rad);
    color: #fff;
    font-size: 42px;
    font-weight: 300;
    margin-top: -55px;
}

@media (max-width: 587px) {
    .yearLabel {
        font-size: 24px;
        margin-top: 30px;
    }
}

.heroSlogan {
    min-width: 240px;
    padding-left: 20px;
    font-size: 48px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.4px;
    max-width: 16ch;
    word-wrap: break-word;
    white-space: normal;
    height: 100%;
    align-content: center;
    border-left: 2px solid #fff;
}

@media (max-width: 991px) {
    .heroSlogan {
        padding-left: 0;
    }
}

@media (max-width: 587px) {
    .heroSlogan {
        font-size: 34px;
        line-height: 1;
        letter-spacing: 0.2px;
    }
}

.heroButton {
    margin: 20px 0 0 0;
    font-weight: 500;
    padding: 14px 20px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

.heroButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.infoSection {
    padding: 40px 0;
    background: #f8f9fb;
}

.infoContent {
    padding: 30px 20px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
    border-radius: 5px;
    background: white;
    padding: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}
.tagline {
    position: absolute;
    /*right: 50%;*/
    /*top: 87.62%;*/
    right: 8%;
    bottom: 1.12%;
width: auto;
    color: #fff;
    text-shadow: 0px 4px 10px #000;
    text-align: center;
    align-self: end;
    font: 400 76px/1 Marianna, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 1015px) {
    .tagline {
        max-width: 100%;
        font-size: 40px;
        margin: 40px 10px 0 0;
        bottom: 6%;
        left: 0;
        width: 100vw;
    }
}
@media (max-width: 991px) {
    .infoBlock {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }

}
@media (max-width: 1016px) {
    .heroSlogan {
        border: none;
    }
    .tagLine {
    }
}

.infoTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.infoText {
    font-size: 15px;
    color: #585858;
}
@media (max-width: 682px) {
    .heroText {
        padding: 0 20px 0 20px;
    }
}
