.menu {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 100%;
    color: #fff;
    text-align: center;
    font: 400 48px/1 Fixel, sans-serif;


}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 60px;
}

.menuTitle {
    text-shadow: 0 4px 20px #000;
}

.menuIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 34px;
    border-radius: 200px;
}

@media (max-width: 991px) {
    .menu {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;

        position: absolute;
        top: 15%;
        right: 2%;
    }

    .menuItem {
        margin-bottom: 40px;
    }

    .menuTitle {
        font-size: 20px;
    }
}
.menu {
    /* стили для меню */
}

.menuItem {
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}

.menuItem.active {
}
.menuItem.active svg {
    fill: white
}

.menuIcon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.menuIcon.activeIcon path {
    /*transform: rotate(90deg); !* Поворот стрелки *!*/
    fill: white;
}
