.productionWine {
    background-color: #f8f9fb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;

}

.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    /*min-height: 1000px;*/
    width: 100%;
}

.backgroundImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contentWrapper {
    position: relative;
    width: 100%;
    max-width: 1822px;
}

.columnLayout {
    display: flex;
    gap: 20px;
}

.leftColumn {
    width: 100vw;
    height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 57%;*/
}

.mainHeading {
    text-shadow: 0 4px 10px #000;
    position: absolute;
    bottom: 1%;
    /*min-height: 900px;*/
    overflow: hidden;
    color: #fff;
    width: 95vw;
    text-align: start;
    margin-left: 50px;
    font: 400 76px/1 Marianna, -apple-system, Roboto, Helvetica, sans-serif;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    width: 43%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .mainContainer {
        max-width: 100%;
    }

    .columnLayout {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .leftColumn,
    .rightColumn {
        width: 100%;
    }

    .mainHeading {
        padding: 10px;
        left: 50%;
        transform: translate(-50%);
        max-width: 100%;
        font-size: 30px;
        /*padding: 100px 20px 0;*/
    }
}
@media (max-width: 991px) {
    .mainHeading {
        margin-left: 20px;
    }
}

.imageContainer {
    position: relative;
    width: 100vw;
    /*height: 100vh;*/
}
.imageContainer img {
    width: 100vw;
    height: 100vh;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.fadeOut {
    opacity: 0;
    transform: translateX(-100%);
}

.fadeIn {
    opacity: 0;
    transform: translateX(100%);
    animation: fadeInSlide 0.5s ease forwards;
}

@keyframes fadeInSlide {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
