.menu {
    margin-top: 269px;
    width: 100%;
    color: #fff;
    text-align: center;
    font: 400 48px/1 Fixel, sans-serif;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 60px;
}

.menuTitle {
    text-shadow: 0 4px 20px #000;
}

.menuIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 34px;
    border-radius: 200px;
}

@media (max-width: 991px) {
    .menu {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;
    }

    .menuItem {
        margin-bottom: 40px;
    }

    .menuTitle {
        font-size: 40px;
    }
}
.menu {
    /* стили для меню */
}

.menuItem {
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}

.menuItem.active {
    /*color: #f0f0f0;*/
    color: black;
}

.menuIcon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.menuIcon.activeIcon {
    transform: rotate(90deg); /* Поворот стрелки */
}
