body, html {
    margin: 0;
    padding: 0;
}

.wrapper {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.section {
    /*height: 100vh;*/

    scroll-snap-align: start;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

#borderTop {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#borderBottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}