.tabContent {
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.tabContent.active {
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0s linear 0s;
    visibility: visible;
    height: auto;
}


.aboutUsPage {
    max-width: none;
    background-color: #e2ddd6;
}

.mainContent {
    margin: 0 auto;
    padding: 30px 0 0;
}

.aboutUsSection {
    width: 100%;
    margin: 24px auto 0;
}

.pageTitle {
    margin: 24px auto 0;
    width: 90%;
    color: #2d2d2d;
    text-transform: uppercase;
    font: 600 32px/1.2 Fixel, sans-serif;
}

.companySlogan {
    color: #00a700;
    letter-spacing: 0.15px;
    margin-top: 32px;
    font: 700 24px/1.6 Fixel Text, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .mainContent {
        padding: 30px 20px;
    }
}
