.aboutUsPage {
    max-width: none;
    background-color: #e2ddd6;
}

.mainContent {
    padding: 30px 216px;
}

.aboutUsSection {
    margin-top: 24px;
}

.pageTitle {
    color: #2d2d2d;
    text-transform: uppercase;
    font: 600 32px/1.2 Fixel, sans-serif;
}

.companySlogan {
    color: #00a700;
    letter-spacing: 0.15px;
    margin-top: 32px;
    font: 700 24px/1.6 Fixel Text, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .mainContent {
        padding: 30px 20px;
    }
}
/* AboutUs.module.css */
.tabContent {
    opacity: 0;
    transition: opacity 0.5s ease;
    display: none; /* Initially hide the tab contents */
}

.tabContent.active {
    opacity: 1;
    display: block; /* Show active tab content */
}

/* Tabs.module.css */
.tabsContainer {
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: none;
    background: none;
    font-size: 16px;
}

.activeTab {
    font-weight: bold;
    color: #007bff; /* Example active tab color */
    border-bottom: 2px solid #007bff; /* Active tab underline */
}
