.partnerList {
    margin-top: 32px;
}

.partnerListTitle {
    color: #180200;
    font: 600 26px/1 Fixel, sans-serif;
    margin-bottom: 16px;
}

@media (max-width: 991px) {
    .partnerListTitle {
        font-size: 16px;
    }
}

.partnerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    list-style-type: none;
}


.partnerItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.partnerFlag {
    width: 39px;
    height: auto;
    object-fit: contain;
}

.partnerName {
    color: #180200;
    font: 500 20px/1.2 Fixel Text, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: 0.15px;
}

@media (max-width: 991px) {

    .partnerGrid {
        gap: 16px;
    }

    .partnerFlag {
        width: 30px;
    }

    .partnerName {
        font-size: 13px;
    }
}

@media (max-width: 587px) {
    .partnerList {
        margin: 0;
    }

    .partnerGrid {
        gap: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}