.worldMapContainer {
    position: relative;
    width: 100%;
    /*height: 100vh;*/
    overflow: hidden;
}

.mapBackground,
.mapOverlay,
.mapContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mapContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 395px 80px 251px;
}

.mapDecoration {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.partnerHighlight {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: -50px;
}
@media (max-width: 991px) {
    .worldMapContainer {
        overflow: hidden;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .mapDecoration {
        object-fit: fill;
        /*margin-top: -300px;*/
    }
}
@media (max-width: 861px) {

    .worldMapContainer {
        overflow: hidden;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .mapDecoration {
        object-fit: contain;
        /*margin-top: -300px;*/
    }

    .mapContent {
        padding: 100px 20px;
    }

    .partnerHighlight {
        margin-top: 10px;
    }
}

@media (max-width: 587px) {
    .worldMapContainer {
        overflow: hidden;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;

    }

    .mapDecoration {
        object-fit: contain;
        /*margin-top: -380px;*/
    }


    .mapContent {
        padding: 100px 20px;
    }

    .partnerHighlight {
        margin-top: 10px;
    }
}